.thinking-spinner {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  animation-name: thinking-spinner;
  animation-duration: 600ms;
  animation-timing-function: 0.62, 0, 0, 1.23;
  animation-iteration-count: infinite;
}

.thinking-spinner__dot {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ffffff;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -2px;
  animation-duration: 600ms;
  animation-timing-function: 0.62, 0, 0, 1.23;
  animation-iteration-count: infinite;
}


.thinking-spinner__dot--n {
  animation-name: spinner-n;
  left: 50%;
  top: 0;
}

.thinking-spinner__dot--e {
  animation-name: spinner-e;
  top: 50%;
  right: 0;
}

.thinking-spinner__dot--s {
  animation-name: spinner-s;
  bottom: 0;
  left: 50%
}

.thinking-spinner__dot--w {
  animation-name: spinner-w;
  left: 0;
  top: 50%;
}
@keyframes thinking-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes spinner-n {
  0%,
  100% {
    transform: translateY(-4px);
  }
}

@keyframes spinner-e {
  0%,
  100% {
    transform: translateX(4px);
  }
}

@keyframes spinner-s {
  0%,
  100% {
    transform: translateY(4px);
  }
}

@keyframes spinner-w {
  0%,
  100% {
    transform: translateX(-4px);
  }
}
